.container {
	display: flex;
	flex-direction: column;

	.formControl {
		padding: 5px;

		input {
			padding: 10px;
		}

		button {
			padding: 10px 15px;
			background-color: green;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
	}
	
	.formFooter {
		button {
			border: none;
			cursor: pointer;
			background-color: transparent;
			text-decoration: underline;
		}
	}
}